<%= form_with(model: trip, local: true) do |f| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
        <% trip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class='form-group'>
      <label for="seats">number of seats</label>

    <%= f.number_field :seats, label: false, placeholder: "number of seats", class: "form-control" %>
  </div>
 
  <div class='form-group'>
      <label for="dep_time">time</label>

    <%= f.datetime_field :dep_time, label: false, placeholder: "Select the date and time", class: "form-control" %>
  </div>
  <div class='form-group'>
      <label for="destination_id">destination</label>

    <%= f.select(:destination_id, places_for_select, {}, { class: 'form-control' }) %>
  </div>
  <div class='form-group'>
    <label for="source_id">source</label>

    <%= f.select(:source_id, places_for_select, {}, { class: 'form-control' }) %>
  </div>

  <div class="actions" >
    <%= f.submit(class:"btn btn-success") %>
  </div>
<% end %>
